*.py[cod]

*.so
settings/local.py

*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

pip-log.txt

.coverage
.tox
nosetests.xml

*.mo

.mr.develooper.cfg
.project
.pydevproject
.idea

db.sqlite3