{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-md-4">

</div>

<div class="col-md-4">
<img src="/static/pic/blog_icon.jpg" class="card-img">
</div>

<div class="col-md-4">

</div>
</div>

        <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">关于作者 <span class="text-muted"> 网名：雨晨</span></h2>
        <p class="lead"> 普普通通的计算机大学生一枚，非常喜欢跟各式各样的人一起努力去做一些很酷的事情。</p>
      </div>
      <div class="col-md-5">
          <!--
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
-->
          <img class="img-fluid" width="500"height="500" src="/static/pic/aboutme_1.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">关于这个网站 <span class="text-muted">Just for fun</span></h2>
        <p class="lead">做这个网站的初衷是刷LeetCode刷累了的调剂，顺便想把自己学的知识实际应用一下将它们串起来。顺便通过博客记录一下自己学习coding的心得体会吧。 </p>
      </div>
      <div class="col-md-5 order-md-1">
           <img class="img-fluid" width="500" height="500" src="/static/pic/aboutme_2.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">这个站的未来<span class="text-muted"> Level Up~~</span></h2>
        <p class="lead"> 总归是自己的网站，我会加油继续维护下去的。会给他添加各种各样炫酷的功能，做各种各样的持续优化。</p>
          <p class="lead"> 如果本网站能够给你带来些许的帮助和启发的话那就再好不过了。</p>
      </div>
      <div class="col-md-5">

           <img class="img-fluid" width="500" height="500" src="/static/pic/aboutme_3.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->





{% endblock %}