{% extends 'base.html' %}

{% block content %}

    {% if blog_detail %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <h3 class="pb-4 mb-4 font-italic border-bottom">
                        Type : {{ blog_detail.blog_type }}
                    </h3>

                    <div class="blog-post">
                        <h2 class="blog-post-title">{{ blog_detail.blog_title}}</h2>
                        <p class="blog-post-meta">{{ blog_detail.created_date}} by <a href="#">{{ blog_detail.creator }}</a></p>
                        <p><a href="#" onclick="confirm_safe_delete()">删除文章</a> </p>
                        <form
                                style="display: none;"
                                id="safe_delete"
                                action="/blog-safe-delete/{{ blog_detail.id }}/"
                                method="post"
                        >
                            {% csrf_token %}
                            <button type="submit">发送</button>
                        </form>
                        <p><a href="/blog-update/{{ blog_detail.id }}/">编辑文章</a> </p>
                        <hr>
                        <blockquote>
                            <p>{{ blog_detail.blog_text|safe }}</p>
                        </blockquote>
                    </div><!-- /.blog-post -->
                </div><!-- /.blog-main -->

                {# 侧边栏 #}
                <aside class="col-md-4 blog-sidebar">
                    {# 简介栏 #}
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="font-italic">About</h4>
                        <p class="mb-0">{{ blog_detail.blog_simple_text }}</p>
                    </div>
                    {# 侧边栏标签检索 #}

                    <div class="p-4">
                        <h4 class="font-italic">分类列表</h4>
                        <ol class="list-unstyled mb-0">
                            {% if type_list %}
                                {% for type in type_list %}
                                    <li><a href="/type/{{ type.0 }}">Type: {{ type.1 }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                    {# 放些外链啥的 #}
                    <div class="p-4">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com">GitHub</a></li>
                            <li><a href="https://twitter.com">Twitter</a></li>
                            <li><a href="https://facebook.com">Facebook</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->
            </div><!-- /.row -->
        </main><!-- /.container -->

        <script>
        function confirm_safe_delete(){
            layer.open({
                //弹窗标题
                title: "确认删除",
                //正文
                content: "确认删除这篇文章吗？",

                yes: function (index,layero){
                    $('form#safe_delete button').click();
                    layer.close()
                }
            })
        }
        </script>

    {% endif %}


{% endblock %}