{% extends 'base.html' %}


{% block content %}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">吾日三省吾身，是不是还是啥都不会？</h1>
      <p class="lead my-3">This Blog is a personal blog in order to try the Django Web development. Also, want to share the knowledge to others.</p>
      <p class="lead mb-0"><a href="/about_me" class="text-white font-weight-bold">For more about me</a></p>
    </div>
  </div>

    {# 一组排俩做所有blog简略信息的展示 #}
    <div class="row mb-2">
    {% for blog in blog_list %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ blog.blog_type }}  Creator:{{ blog.creator }}</strong>
                        <h3 class="mb-0">{{ blog.blog_title }}</h3>
                        <div class="mb-1 text-muted">{{ blog.created_date}}</div>
                        <p class="card-text mb-auto">{{ blog.blog_simple_text }}</p>
                        <a href="/blog/{{ blog.id }}" class="stretched-link">Continue reading</a>
                        <span>
                            <smallc class="col align-self-end" style="color: gray;">
                                点击量: {{ blog.click_nums }}
                            </smallc>
                        </span>
                    </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
                </div>
            </div>
    {% endfor %}
    </div>

    <!-- 页码导航 -->
<div class="pagination row">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if blog_list.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ blog_list.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ blog_list.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ blog_list.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if blog_list.has_next %}
                <a href="?page={{ blog_list.next_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ blog_list.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ blog_list.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ blog_list.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}