{% extends 'base.html' %}
{% block content %}
{% if blog_list_type %}
    {% for blog_list in blog_list_type %}
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">标题： <span class="text-muted"> {{ blog_list.blog_title }}</span></h2>
        <p class="lead"> 详情请按按钮 </p>
          <p><a class="btn btn-secondary" href="/blog/{{ blog_list.id }}">View details &raquo;</a></p>
      </div>
    </div>

    {% endfor %}


{% endif %} 
{% endblock %}